
.container {
  width: 100vw;
  height: 100vh;
  background-color: #292A2D;

  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100px;
  height: auto;
  margin: 2rem;
}

.wrapper {
  background-color: #fff;
  height: 100vh;
  width: 700px;
  border-radius: 7.5px;
}

h1 {
  text-align: center;
  font-family: "plexina-bold";
  margin: 2rem;
}

span.subtitle {
  margin: 0 0 0.4rem 0;
  color: #555758;
  font-weight: bold;
  font-family: "plexina-bold";
}

section {
  display: flex;
  flex-direction: column;
   align-items: center;
   position: relative;
   margin: 0 5rem;
}

a.button {
  text-decoration: none;
  margin: 0.5rem;
  padding: 10px 3rem;
  width: 400px;
  border-radius: 4px;
  color: #fff;
  font-family: "plexina-bold";
  text-align: center;
}

a.button.bg-red {
  background-color: #DE4C38 !important;
}

a.button.bg-blue {
  background-color: #4267B2 !important;
}

a.button.bg-black {
  background-color: #000000 !important;
}

 a.button:hover {
  opacity: 0.85;
  cursor: pointer;
}

svg {
  margin: 0 10px;
}

span.splitter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
  margin: 1rem;
  color: grey;
  font-family: "plexina";
}

span.splitterLeft, span.splitterRight{
  width: 200px;
  height: 1px;
  background-color: gray;
  margin: 0 5rem;
}

form {
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: flex-end;
  opacity: 1;
  font-family: "plexina";
}

label {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0.5rem;
}

label input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #000;
  background-color: #E7F0FE;
  font-family: "plexina";
}

label input:focus {
  outline: none;
}

input.submit {
  text-decoration: none;
  margin: 1rem;
  padding: 15px 5rem;
  width: 400px;
  border-radius: 4px;
  color: #fff;
  font-family: "plexina-bold";
  text-align: center;
  background-color:#E5A00D;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

input.submit:hover {
  opacity: 0.85;
}

div.signup, div.terms-of-service {
  font-size: 0.9rem;
  text-align: center;
  color: #3f4245;
  font-family: "plexina";
  width: 70%;
  margin: 2rem auto;
}

div.signup a, div.terms-of-service a {
  margin: 0 0.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #3f4245; 
  font-family: "plexina-bold";
}

div.signup a:hover, div.terms-of-service a:hover {
  cursor: pointer;
  opacity: 0.85;
}